- provide(:title, 'Home')
%section#JumboLead
  .homepage-hero-module
    .video-container
      .title-container
        .headline.center-block
          = image_tag 'energyx_logo_white.png', class: 'img-responsive center-block', id: 'jumbo_logo'
          %br
        .description.center-block
          .inner Welcome to EnergyX Fitness, San Antonio’s first rowing studio featuring ShockWave, Kettlebell, Body Weight Training, IndoRow, TRX and Yoga.
        %br
          %a.btn.btn-lg.btn-success.bold{:href => "https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sView=week", :role => "button"} Book A Class
          %a.btn.btn-lg.btn-success.bold{:href => "#Results", :role => "button"} See Results
      .filter
      %video.loop.fullWidth{:autoplay => "autoplay", :loop => "loop", poster: 'https://farm2.staticflickr.com/1514/26124162412_1e0f33f75c.jpg', :style => "width:100%", :title => "EnergyX Background Video"}
        %source{:src => asset_url("BGLoop_01.webm"), :type => "video/webm"}
        %source{:src => asset_url("BGLoop_01.ogv"), :type => "video/ogg"}
        %source{:src => asset_url("BGLoop_01.mp4")}

%section#Tools
  .container
    .row
      .col-xs-12.col-sm-6.col-md-4.col-lg-4
        .pull-right
          .panel.panel-success#CallOutPanel
            .panel-body
              %h2
                Your first class is
                = succeed "" do
                  %strong.text-success free.
              %p Our dynamic classes will leave you feeling fit, empowered, and ready to achieve your goals. Try your first one for FREE today!
              = form_tag contact_path, method: 'post', html: {role: "form"} do
                .form-group
                  = text_field_tag :name, @name, placeholder: "Enter your name...", class: "form-control"
                .form-group
                  = text_field_tag :email, @email, placeholder: "Enter your email...", class: "form-control"
                .form-group
                  = hidden_field_tag :message, @message, value: 'Intersted in a free class!'
                  = hidden_field_tag 'spam_check'
                .pull-right
                  %button.btn.btn-success.btn-lg{type: "submit"} Send

-# %section#Events
-#   .section-title
-#     .row
-#       .col-sm-12.col-md-12.col-lg-12
-#         %h1.text-center.section-header Events
-#   .section-content
-#     .container
-#       .row
-#         .col-xs-12.col-sm-6.col-md-6
-#           .text-center
-#             .panel.panel-default
-#               .panel-image
-#                 %img.img-responsive.panel-image-preview{src: 'https://farm2.staticflickr.com/1585/25655964413_14cf095b92_m.jpg', style: 'margin-left: auto; margin-right: auto;'}
-#               .panel-body
-#                 %h4.text-center ROW.RUN.RIDE Triathlon
-#                 %p Can't Swim? We have the tri for you! Join us as we team up with Fleet Feet and Cycle Hub to host the first ever ROW.RUN.RIDE Triathlon. Participants will begin at 9:00 am at EnergyX rowing 3,000 meters, run the 1.5 mile route to Cycle Hub and end the race with cycling 8 miles on their Schwinn stationary bikes. Stick around after the finish line for an after-party expo that will be help in the Cycle Hub parking lot!
-#                 .text-center
-#                   %a.btn.btn-lg.btn-info.bold{:href => 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-8&sVT=21&sView=day&date=05/01/16', :role => "button"} Sign Up!
-#         -# .col-xs-12.col-sm-6.col-md-6
-#         -#   .panel.panel-default
-#         -#     .panel-image
-#         -#       %img.img-responsive.panel-image-preview{src: 'https://farm2.staticflickr.com/1548/25985773510_8a12985a2c_m.jpg', style: 'margin-left: auto; margin-right: auto;'}
-#         -#     .panel-body
-#         -#       %h4.text-center Debut Medal Class
-#         -#       %p Our medals are here! Come to our Debut Medal Class on Monday, April 11 at 6:45pm to receive a free EnergyX Fitness Medal first. Can't make class? We will also have them for sale at the front desk, ask our staff about them! Be on the look out for more Fiesta medal giveaway classes! Viva Fiesta!
-#         -#       %br
-#         -#       .text-center
-#         -#         %a.btn.btn-lg.btn-info.bold{:href => 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sVT=5&sView=day&sTrn=100000000&date=04/11/16', :role => "button"} Sign Up!

%section#Instagram
  .section-title
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1.text-center.section-header The Latest
  .section-content
    .pinterest-layout
      #wrapper
        #masonry-container.transitions-enabled.clearfix
          - @posts.each do |post|
            .box.col3
              %div
                = post.oembed.html_safe

%section#Schedule
  .section-title
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1.text-center.section-header Schedule
  .section-content
    .container
      .row
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          %h4.text-center.bold Monday
          .panel.panel-info.schedule-panel
            %table.table
              %thead
                %tr
                  %th Starting
                  %th Class
                  %th Duration
                  %th
              %tbody
                %tr
                  %td 5:45 AM
                  %td Row & Flow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 12:15 PM
                  %td PoweRow
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 4:30 PM
                  %td Row & Flow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 5:30 PM
                  %td IndoRow
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 6:45 PM
                  %td PoweRow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          %h4.text-center.bold Tuesday
          .panel.panel-info.schedule-panel
            %table.table
              %thead
                %tr
                  %th Starting
                  %th Class
                  %th Duration
                  %th
              %tbody
                %tr
                  %td 5:45 AM
                  %td ShockWave
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 9:45 AM
                  %td PoweRow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 12:15 PM
                  %td IndoRow
                  %td 30 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 5:30 PM
                  %td Row & Flow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 6:45 PM
                  %td IndoRow
                  %td 45 mins
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          %h4.text-center.bold Wednesday
          .panel.panel-info.schedule-panel
            %table.table
              %thead
                %tr
                  %th Starting
                  %th Class
                  %th Duration
                  %th
              %tbody
                %tr
                  %td 5:45 AM
                  %td IndoRow
                  %td 45 mins
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 12:15 PM
                  %td PoweRow
                  %td 45 mins
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 4:45 PM
                  %td ShockWave
                  %td 45 mins
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 5:45 PM
                  %td  TRX & Flex
                  %td 45 Mins
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 6:45 PM
                  %td IndoRow
                  %td 45 Mins
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          %h4.text-center.bold Thursday
          .panel.panel-info.schedule-panel
            %table.table
              %thead
                %tr
                  %th Starting
                  %th Class
                  %th Duration
                  %th
              %tbody
                %tr
                  %td 5:45 AM
                  %td ShockWave
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 9:45 AM
                  %td PoweRow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 12:15 PM
                  %td IndoRow
                  %td 30 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 5:30 PM
                  %td ShockWave
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 6:30 PM
                  %td Row & Flow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
      .row
        .col-sm-1.col-md-1.col-lg-1
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          %h4.text-center.bold Friday
          .panel.panel-info.schedule-panel
            %table.table
              %thead
                %tr
                  %th Starting
                  %th Class
                  %th Duration
                  %th
              %tbody
                %tr
                  %td 5:45 AM
                  %td PoweRow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 8:30 AM
                  %td IndoRow
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 12:15 PM
                  %td PoweRow
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 5:30 PM
                  %td ShockWave
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          %h4.text-center.bold Saturday
          .panel.panel-info.schedule-panel
            %table.table
              %thead
                %tr
                  %th Starting
                  %th Class
                  %th Duration
                  %th
              %tbody
                %tr
                  %td 7:30 AM
                  %td Row & Flow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 8:45 AM
                  %td PoweRow
                  %td 1 hour
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar

        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          %h4.text-center.bold Sunday
          .panel.panel-info.schedule-panel
            %table.table
              %thead
                %tr
                  %th Starting
                  %th Class
                  %th Duration
                  %th
              %tbody
                %tr
                  %td 9:00 AM
                  %td IndoRow
                  %td 45 min
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar
                %tr
                  %td 10:00 AM
                  %td TRX & Flex
                  %td 45 Mins
                  %td
                    = link_to 'https://clients.mindbodyonline.com/classic/home?studioid=226360' do
                      %i.fa.fa-calendar

%section#BgDiv1

%section#Classes
  .section-title
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1.text-center.section-header Classes
  .section-content
    .container
      .row
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-default
            .panel-image
              %img.img-responsive.panel-image-preview{src: 'https://farm2.staticflickr.com/1688/26150319791_da92a533ed.jpg'}
            .panel-body
              %h4.text-center Row Clinic
              %p New to rowing or want to improve you stroke? Row Clinic is the place to be. Always free and a great place for new participants to start.
              %br
              .text-center
                %a.btn.btn-lg.btn-info.bold{:href => 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sTG=22&sVT=9&sView=day', :role => "button"} Schedule
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-default
            .panel-image
              %img.img-responsive.panel-image-preview{src: "https://farm2.staticflickr.com/1451/25613960663_23f5a3b963.jpg"}
            .panel-body
              %h4.text-center PoweRow
              %p Challenge your entire body with the dynamic duo of rowing and strength using our state of the art WaterRowers, TRX Suspension Trainers, and Kettlebells.
              %br
              .text-center
                %a.btn.btn-lg.btn-info.bold{:href => 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sTG=22&sVT=5&sView=day', :role => "button"} Schedule
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-default
            .panel-image
              %img.img-responsive.panel-image-preview{src: 'https://farm2.staticflickr.com/1616/25611858174_8cf1aa8168.jpg'}
            .panel-body
              %h4.text-center Row & Flow
              %p The best of all 3 worlds, Row & Flow offers high intensity rowing and strength intervals followed by athletic based yoga sure to enhance flexible and clear the mind.
              .text-center
                %a.btn.btn-lg.btn-info.bold{:href => 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sTG=22&sVT=7&sView=day', :role => "button"} Schedule
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-default
            .panel-image
              %img.img-responsive.panel-image-preview{src: 'https://farm2.staticflickr.com/1469/26190708906_b156ef5148.jpg'}
            .panel-body
              %h4.text-center Shockwave
              %p ShockWave is extreme cross-training at its best! This circuit challenge utilizes a specially designed WaterRower to provide short-burst, high-intensity, calorie-torching intervals along with functional strength and sculpting stations.
              .text-center
                %a.btn.btn-lg.btn-info.bold{:href => 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sTG=22&sVT=8&sView=day', :role => "button"} Schedule
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-default
            .panel-image
              %img.img-responsive.panel-image-preview{src: 'https://farm2.staticflickr.com/1531/25787757413_4c8cd54c5e.jpg'}
            .panel-body
              %h4.text-center TRX & Flex
              %p  TRX & Flex is 45 minutes of total body conditioning using the TRX Suspension Trainer, Kettlebells, and your own body weight. A generous dose of strength mixed with explosive cardio will leave you sweaty and strong.
              %br
              .text-center
                %a.btn.btn-lg.btn-info.bold{:href => 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sTG=22&sVT=6&sView=day', :role => "button"} Schedule
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-default
            .panel-image
              %img.img-responsive.panel-image-preview{src: "https://farm2.staticflickr.com/1514/26124162412_1e0f33f75c.jpg"}
            .panel-body
              %h4.text-center IndoRow
              %p Fast-paced and engaging from the first minute, Indorow is the perfect calorie burn. Endurance, sprints, and team challenges will keep your heart pumping and body working. Come experience the best cardio on our state-of-the-art WaterRowers.
              .text-center
                %a.btn.btn-lg.btn-info.bold{:href => 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=-7&sTG=22&sVT=16&sView=day', :role => "button"} Schedule

%section#BgDiv2

%section#Memberships
  .section-title
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1.text-center.section-header Pricing
  .section-content
    .container
      .row
        .col-sm-6.col-md-6.col-lg-6
          %h3.text-center.bold Packages
          .panel.panel-info
            %table.table
              %thead
                %tr
                  %th # of Classes
                  %th Price
                  %th
              %tbody
                %tr
                  %td Drop In
                  %td $20
                  %td= link_to 'Select', 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=41&sTG=22&prodId=10101', class: 'btn btn-xs btn-success'
                %tr
                  %td 5
                  %td $90
                  %td= link_to 'Select', 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=41&sTG=22&prodId=10102', class: 'btn btn-xs btn-success'
                %tr
                  %td 10
                  %td $165
                  %td= link_to 'Select', 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=41&sTG=22&prodId=10103', class: 'btn btn-xs btn-success'
                %tr.success
                  %td 20
                  %td $280
                  %td= link_to 'Select', 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=41&sTG=22&prodId=10104', class: 'btn btn-xs btn-success'
        .col-sm-6.col-md-6.col-lg-6
          %h3.text-center.bold Memberships
          .panel.panel-info
            %table.table
              %thead
                %tr
                  %th Duration
                  %th Price
                  %th
              %tbody
                %tr.success
                  %td Monthly Recurring
                  %td $130
                  %td= link_to 'Select', 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=40&prodId=100', class: 'btn btn-xs btn-success'
                %tr
                  %td One Month Unlimited
                  %td $160
                  %td= link_to 'Select', 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=41&sTG=22&prodId=10106', class: 'btn btn-xs btn-success'
                %tr
                  %td 6 Month Unlimited
                  %td $750
                  %td= link_to 'Select', 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=41&sTG=22&prodId=10107', class: 'btn btn-xs btn-success'
                %tr
                  %td 12 Month Unlimited
                  %td $1400
                  %td= link_to 'Select', 'https://clients.mindbodyonline.com/classic/ws?studioid=226360&stype=41&sTG=22&prodId=10108', class: 'btn btn-xs btn-success'

%section#BgDiv4

%section#Coaches
  .section-title
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1.text-center.section-header Coaches
  .section-content
    .container
      .row
        #columns
          .col-xs-12.col-sm-6.col-md-3.col-lg-4.col-xl-4
            .thumbnail.info
              %img.img-responsive{:src => "https://farm2.staticflickr.com/1621/25611631164_514e1f3b96.jpg"}
                .caption
                  %h4.text-center.bold Alison Smith
                  %p As Owner and Creator of EnergyX Fitness, Alison’s passion for helping others drives the success of this Club.Alison has been in the Fitness Industry for 10 years working with athletes, college students, athletes of life, kids, older adults, and everything in between. Alison achieved her BS in Kinesiology from Texas A&M and MA in Exercise Sports Science from Texas State University. She currently works with BOSU as a Regional Master Trainer helping other fitness professional enhace their skills. In addition, she holds her RYT 200, NASM- CPT, AFAA Primary, and TRX Suspension, Group, and Sports Medicine Certifications. When Alison isn’t inspiring fitness to the world, she is spending time outside with her two dogs and inspiring boyfriend, Danny.
          .col-xs-12.col-sm-6.col-md-3.col-lg-4.col-xl-4
            .thumbnail.info
              %img.img-responsive{:src => "https://farm2.staticflickr.com/1505/26123940282_3c86808b0d.jpg"}
                .caption
                  %h4.text-center.bold Danny Galvan
                  %p Danny has been working in the fitness industry for over 10 years. His passion for creative approaches to overall health and wellness and bettering the lives of everyone he meets makes him a vital part of EnergyX Fitness. Danny earned his Master’s degree from Texas State University – San Marcos in Professional Counseling, and is a National Certified Counselor (NCC). 
                  %p He has worked with and helped children, teens and adults make lifestyle changes to improve their quality of life. He earned his Bachelor’s degree in Psychology and Exercise Sports Science from Texas Wesleyan University. He also holds TRX suspension and sports medicine certifications, Indo-Row and Shockwave certifications, and is an Onnit Academy Level 1 Certified Trainer. In addition to the general public, Danny has worked intensely with athletes as well as physically disabled individuals. 
                  %p He has had the pleasure of working for Wounded Warrior Project for the past several years, first as the Physical Health and Wellness Coordinator and now as a Combat Stress Recovery Specialist.His spare is spent enjoying the great outdoors with Alison and their two dogs.
          .col-xs-12.col-sm-6.col-md-3.col-lg-4.col-xl-4
            .thumbnail.info
              %img.img-responsive{:src => "https://farm2.staticflickr.com/1458/26216396065_2eee4a4820.jpg"}
                .caption
                  %h4.text-center.bold Katheryn Sehlke
                  %p Katheryn’s love for yoga began in 2012. Shortly after, she began her official training through YogaFit and began teaching yoga at UTSA Campus Recreation. Her vinyasa flow style class aims to help each participant celebrate their strengths, improve on their weaknesses, and find a sense of balance between resistance and relaxation. She aims to connect with each student throughout the class, and encourages everyone to reach their full potential.
          .col-xs-12.col-sm-6.col-md-3.col-lg-4.col-xl-4
            .thumbnail.info
              %img.img-responsive{:src => "https://farm2.staticflickr.com/1475/25613733053_af82c54e04.jpg"}
                .caption
                  %h4.text-center.bold Andrea Navarro
                  %p Andrea has been teaching Group Exercise for over 5 years. Her certifications include AFAA and YogaFit, among others in the fitness industry. She graduated from The University of Texas at Austin with a B.S. in Public Health and loves that she is able to encourage participants through their own health journey. She is known for her energetic teaching style and encouraging participants to reach goals and push limits. When away from the studio, Andrea is working on her MBA/MPH or spending time with her family.
          .col-xs-12.col-sm-6.col-md-3.col-lg-4.col-xl-4
            .thumbnail.info
              %img.img-responsive{:src => "https://farm2.staticflickr.com/1453/25943526580_357e4ed50c_z.jpg"}
                .caption
                  %h4.text-center.bold Alex Alcala
                  %p Alex Alcala is a six year Navy veteran and fitness enthusiast. As a U.S. Navy Fitness Leader, he has trained the our military’s men and women designing exercise programs that ensure their highest standards of physical fitness. After separating from the military, Alex enrolled at The University of Texas at San Antonio and has worked as a personal trainer for UTSA Campus Recreation, developing individualized instruction plans to match the skills and learning levels of participants.
          .col-xs-12.col-sm-6.col-md-3.col-lg-4.col-xl-4
            .thumbnail.info
              %img.img-responsive{:src => "https://farm2.staticflickr.com/1540/26216399525_8e8aba8582.jpg"}
                .caption
                  %h4.text-center.bold Liz Holloway
                  %p Liz Holloway is a certified AFAA group exercise and Schwinn cycle certified instructor who has been teaching since Spring of 2010. She has a Kinesiology degree from Texas A&M University where she was a group exercise instructor and personal trainer until 2014. Since, she has taught group exercise at The University of Texas at San Antonio. Liz is also a 4-time TexFit presenter of multiple class formats including high intensity interval training and cycle. She is experienced in teaching cycle, step, water aerobics, total body toning classes, and high intensity interval training classes.
          .col-xs-12.col-sm-6.col-md-3.col-lg-4.col-xl-4
            .thumbnail.info
              %img.img-responsive{:src => "https://farm2.staticflickr.com/1638/26130588422_ec328e65bd.jpg"}
                .caption
                  %h4.text-center.bold Maddie Duncan
                  %p Maddie was first introduced to yoga during high school and practiced on and off until she began college at The University of Texas at San Antonio. She began practicing consistently and decided to get certified through YogaFit and AFAA in order to begin her coaching career. In addition to yoga, Maddie enjoys coaching and training in many different formats. Maddie has a B.S. in Kinesiology with a concentration in Athletic Medicine. She currently works at a physical therapy clinic as a technician where she coaches in rehabilitative exercise. She is planning to return to school in the near future in order to become a Physical Therapist.
          .col-xs-12.col-sm-6.col-md-3.col-lg-4.col-xl-4
            .thumbnail.info
              %img.img-responsive{:src => "https://farm2.staticflickr.com/1660/26150094821_9cefab0e3c.jpg"}
                .caption
                  %h4.text-center.bold Sam Flores
                  %p Sam was raised in Floresville, Tx where she found a passion for volleyball. She continued her volleyball career into college at UT-Dallas but later transferred to complete school at Texas A&M Corpus Christi, where she will earn her Bachelors of Science in Kinesiology. Sam works as a personal trainer and group fitness instructor specializing in TRX, rowing, cycle, circuit and boot camp style workout. Her certifications include  NCCPT - Personal Trainer and ACE Group Fitness.

%section#BgDiv3

%section#Results
  .section-title
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1.text-center.section-header Results
  .section-content
    .container
      .row
        .col-md-offset-2.col-md-8
          #quote-carousel.carousel.slide{"data-ride" => "carousel"}
            / Bottom Carousel Indicators
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "1", "data-target" => "#quote-carousel"}
              -# %li{"data-slide-to" => "2", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "3", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "4", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "5", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "5", "data-target" => "#quote-carousel"}
            / Carousel Slides / Quotes
            .carousel-inner
              / Quote 0
              .item.active
                %blockquote
                  .row
                    .col-sm-12.text-center
                      %img.img-circle.person-circle{style: "width:200px;height:200px;", src: "https://farm2.staticflickr.com/1503/25943750740_f274d30683.jpg"}
                    .col-sm-12
                      .caption There are numerous reasons people go to the gym. If you're looking for a gym that is going to inspire you to be better this is where the magic happens; strength, endurance, mobility, and personal touch. I have participated in different fitness routines over the last 12 years. I was an all state powerlifter, half marathon runner, Crossfit athlete, and participated in Roller Derby. Strength is not built overnight, the studio has allowed me to become better. My back and core were out of commission prior to EnergyX. In the four short months I have been at the studio I have strengthen my entire body & lost 23 pounds, INJURY FREE! Endurance, prior to joining the studio I could barely run a mile (after training for numerous half marathons the last thing I wanted to do was run again). EnergyX helped me regain my endurance through rowing and my stamina is back to an all time high, who would have thought endurance building could be so fun! Mobility, I took for granted how important my mobility was prior to joining the studio. I can now balance (through all sorts of fun flexible yoga moves), I now look forward to yoga (which I dreaded in the past), and it has made me a more well rounded athlete. EnergyX may be the only Rowing studio in San Antonio but that's not why I go there.Personal touch; when I look for a gym, a box, or a studio I need to feel comfortable and most importantly wanted. The way these trainers truly care and take the time to get to know you is like no other.  What they are doing in this studio is magical and getting to feel like a part of that makes you feel powerful. This studio isn't worth checking out, it's worth becoming a part of. 
                      %small.pull-right Megg Alvizo
              / Quote 1
              .item
                %blockquote
                  .row
                    .col-sm-12.text-center
                      %img.img-circle.person-circle{style: "width:200px;height:200px;", src: "https://farm2.staticflickr.com/1451/25613961693_64885fd180.jpg"}
                    .col-sm-12
                      .caption EnergyX is an amazing full body workout. I love the combination of rowers and TRX. I am seeing great results all over my body, and it's perfect cross training for my running. Not to mention the classes are a blast! 
                      %small.pull-right Vanessa Ramirez
              / Quote 3
              .item
                %blockquote
                  .row
                    .col-sm-12.text-center
                      %img.img-circle.person-circle{style: "width:200px;height:200px;", src: "https://farm2.staticflickr.com/1464/26216621965_612c0fc12c.jpg"}
                    .col-sm-12
                      .caption I have been attending classes at EnergyX Fitness since its opening. What attracted me initially was the convenience of walking to the studio that is very near my home. What has kept me coming back is a team of experienced, professional instructors that work to ensure each client achieves his or her fitness goals. Alison, for example, through private physical training, helped me recover from an unrelated back injury, and she continues to encourage and push me to new levels. I appreciate the variety of class offerings that incorporate rowing, strength training and even yoga for a customized, comprehensive workout.
                      %small.pull-right Michele McMurry
              -# / Quote 2
              -# .item
              -#   %blockquote
              -#     .row
              -#       .col-sm-12.text-center
              -#         %img.img-circle.person-circle{style: "width:200px;height:200px;", src: asset_url('kimberly_gamboa.jpg')}
              -#       .col-sm-12
              -#         .caption Energy X Fitness is a amazing place. The classes are challenging and exciting, but I have to say that the people keep me going back. The staff is friendly and motivating, and I always feel like I'm going to work out with a group of friends. Whether you're trying to beat your own time on the rower or squatting with sandbags, you need great people cheering you on.
              -#         %small.pull-right Kimberly Gamboa
              / Quote 3
              .item
                %blockquote
                  .row
                    .col-sm-12.text-center
                      %img.img-circle.person-circle{style: "width:200px;height:200px;", src: "https://farm2.staticflickr.com/1711/25611859014_3a14108488_m.jpg"}
                    .col-sm-12
                      .caption Before coming to Energy-X, neither of us really enjoyed exercise, or really knew much about it. We have grown to love coming to Energy-X 3-4 times a week because there is so much variety in the classes. We’ve both lost weight and increased our muscle tone, but our biggest takeaway is finding a positive community of people who have helped us like working out! 
                      %small.pull-right Stacey and Jonathan McAtee

              / Quote 4
              .item
                %blockquote
                  .row
                    .col-sm-12.text-center
                      %img.img-circle.person-circle{style: "width:200px;height:200px;", src: "https://farm2.staticflickr.com/1514/25945246410_608be3b78d_m.jpg" }
                    .col-sm-12
                      .caption Energy X workouts have been the perfect addition to my training plan. As a runner, I love rowing as a cross training activity because it works my whole body and and cardio system. These workouts are great for improving core strength, posture, and high heart-rate stamina. Most importantly, the balance exercises have really helped me stay injury-free. I wouldn't be achieving my fitness goals without them!
                      %small.pull-right Colin Hagan

              / Quote 5
              .item
                %blockquote
                  .row
                    .col-sm-12.text-center
                      %img.img-circle.person-circle{style: "width:200px;height:200px;", src: "https://farm2.staticflickr.com/1578/26152001221_61398f1646_m.jpg" }
                    .col-sm-12
                      .caption After a free clinic with Allison that introduced me to the WaterRower, I signed up for a week of classes! Now I have an unlimited monthly membership. I have delicate knees so the low-impact IndoRow classes are perfect for me. I stay off my knees and still get a really intense, full-body, cardio workout. You will get sweaty; you will have fun! The instructors each bring something different to the courses and are always looking out for rowing form and finding ways to challenge you
                      %small.pull-right Kelly Leigh Johnson
            / Carousel Buttons Next/Prev
            %a.left.carousel-control{"data-slide" => "prev", :href => "#quote-carousel"}
              %i.fa.fa-chevron-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#quote-carousel"}
              %i.fa.fa-chevron-right

%section#BgDiv3

%section#Faq
  .section-title
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1.text-center.section-header FAQs
  .section-content
    .container
      #accordion.panel-group
        #panel1.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a{"data-target" => "#collapseOne", "data-toggle" => "collapse"} Where are you located?
          #collapseOne.panel-collapse.collapse.in
            .panel-body We are located at 5162 Broadway Street in Alamo Heights, Texas. We’re at the intersection of Broadway and Grove, right next to Nothin’ Bundt Cakes.
        #panel2.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseTwo", "data-toggle" => "collapse"} Do I need to register  ahead of time?
          #collapseTwo.panel-collapse.collapse
            .panel-body We highly recommend registering for class beforehand. This will ensure you a spot in class and help our staff better prepare for you. However, we gladly accept walk-ins as long as our class has room.
        #panel3.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseThree", "data-toggle" => "collapse"} I’ve never rowed before. Will I be able to do this?
          #collapseThree.panel-collapse.collapse
            .panel-body Of course! Most people don’t have much experience on the rower. We will give you step-by-step instruction to get you feeling comfortable.

        #panel4.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseFour", "data-toggle" => "collapse"} Which class should I try first?
          #collapseFour.panel-collapse.collapse
            .panel-body We recommend PoweRow and IndoRow for your first class. If you enjoy yoga, Row & Flow is also an excellent first class. (link class names to class descriptions)

        #panel5.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseFive", "data-toggle" => "collapse"} What is your cancellation policy?
          #collapseFive.panel-collapse.collapse
            .panel-body You may cancel your reservation up to 12 hours before class without penalty. All other late cancels or no shows will be charged the session.

        #panel6.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseSix", "data-toggle" => "collapse"} What if I have to leave class early?
          #collapseSix.panel-collapse.collapse
            .panel-body No problem, we want you to get your workout in and get where you need to be next in time. Just let your instructor know you’ll be leaving early so we aren’t surprised.

        #panel7.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseSeven", "data-toggle" => "collapse"} Do you have showers?
          #collapseSeven.panel-collapse.collapse
            .panel-body Yes! We have two luxury showers. We also offer towels, shampoo, conditioner, and body wash.

        #panel8.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseEight", "data-toggle" => "collapse"} What type of rowers do you use?
          #collapseEight.panel-collapse.collapse
            .panel-body We have state-of-the-art WaterRowers (Yes, the one you see in House of Cards and Biggest Loser).  The WaterRowers sleek designs features actual water which acts as the resistance. The resistance changes depending on how hard you work, not a setting you select, making the workout a truly custom experience.

        #panel9.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseNine", "data-toggle" => "collapse"} Do you have other classes besides rowing?
          #collapseNine.panel-collapse.collapse
            .panel-body Yes, our PoweRow class incorporates the rower, TRX suspension trainer, and kettle bells. Shockwave is a circuit format using the rower, TRX, kettle bells, sand bags, medicine balls, and your own body weight. We also offer Yoga for the days you need a little recovery. Check out our class descriptions for more detail on each of our classes. (add link to descriptions)

        #panel10.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseTen", "data-toggle" => "collapse", :href => "#collapseTen"} Do you offer personal training?
          #collapseTen.panel-collapse.collapse
            .panel-body Yes, we offer 30, 45, or 60 minute personal training sessions. Contact us for availability and pricing, alison@energyxfitness.com.

        #panel11.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseEleven", "data-toggle" => "collapse"} Do you offer private group classes/events?
          #collapseElevn.panel-collapse.collapse
            .panel-body Yes, we can accommodate groups of up to 19 for private classes. Private classes are available anytime there is not already a scheduled class.

        #panel12.panel.panel-primary
          .panel-heading
            %h4.panel-title
              %a.collapsed{"data-target" => "#collapseTwelve", "data-toggle" => "collapse"} What should I wear/bring?
          #collapseTwelve.panel-collapse.collapse
            .panel-body Bring water, a positive attitude, and your workout face. Wear comfortable workout clothing and shoes. 

%section.contact#Contact
  .section-title
    .row
      .col-sm-12.col-md-12.col-lg-12
        %h1.text-center.section-header Contact
  .section-content
    .row
      .col-sm-9.col-md-9.col-lg-9.col-centered
        .row
          .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
            = form_tag contact_path, method: 'post', html: {role: "form"} do
              .form-group
                = text_field_tag :name, @name, placeholder: "Enter your name...", class: "form-control"
              .form-group
                = text_field_tag :email, @email, placeholder: "Enter your email...", class: "form-control"
              .form-group
                = text_area_tag :message, @message, placeholder: "Enter your message...", rows: 6, class: "form-control", style: "min-height: 100px;"
              .form-group
                = hidden_field_tag 'spam_check'
              .pull-right
                %button.btn.btn-success.btn-lg{type: "submit"} Send