!!!
%html
  %head
    = favicon_link_tag
    = favicon_link_tag 'energyx_apple_touch_icon.png', rel: 'apple-touch-icon', type: 'image/png'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : 'EnergyX Fitness | San Antonio Fitness Classes'
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "San Antonio’s first rowing studio featuring ShockWave, IndoRow, TRX and Yoga. We offer a wide variety of classes available to any age and any fitness level sure to target your fitness needs."}", :name => "description"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{id: "#{controller_name}_#{action_name}", class: "#{controller_name}"}
    = render 'shared/header'
    = render 'layouts/messages'
    = yield
  %footer.footer
    .container.footer-text
      = render 'shared/footer'
